---
import { MessageCircleCode, Pickaxe } from "@lucide/astro";
---

<footer class="footer footer-horizontal footer-center bg-base-200 py-10">
  <aside>
    <MessageCircleCode class="inline-block size-20" />
    <p class="max-w-xl m-auto text-lg">
      Want to chat? Send me a message on <a
        href="https://www.linkedin.com/in/yossrikhalil/"
        target="_blank"
        rel="noopener noreferrer"
        class="link link-hover text-primary"
        >LinkedIn</a
      > and I'll respond whenever I can.
    </p>
  </aside>
</footer>
